@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('/fonts/arch_daughter/ArchitectsDaughter-webfont.eot');
    src: url('/fonts/arch_daughter/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arch_daughter/ArchitectsDaughter-webfont.woff') format('woff'),
         url('/fonts/arch_daughter/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('/fonts/arch_daughter/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  margin: 25px;
  padding:0;
  background-color: #e9dfb8;
  color: #008e51;
  font-size: 1.5em;
  font-family: 'ArchitectsDaughterRegular', arial, serif;
  letter-spacing: 0;
  line-height: 1.2em;
  a {
    color: #008e51;
    
    img { border: none;} }
  a:hover { color: #E4E476; } }

#page_top {
  margin: 0;
  padding: 0;
  background: #e9dfb8 url(/images/paper_header.png); }

#container {
  padding: 5px;
  background: url(/images/paper.png); }

#header { 
  text-align: center;
  margin: 0 10% 5px 10%;
  padding: 15px 5px 5px 5px;
  border-bottom: dashed 3px #9c1112;
  #speach_bubble {
    margin-left: auto;
    margin-right: auto;
    width: 150px; }
  img{
    margin-top: -4em; } }

#content {
  padding: 28px 10px 10px 10px;
  text-align: center; }

.toolbar {
  font-size: 80%;
  a { color: #281274; }
  a:hover { color: #008e51; } }

#desciption {
  float: right; }

#footer {
  font-size: 60%;
  margin: 5px 15px 5px 15px;
  padding-top: 10px;
  text-align: center;
  font-style: italic;
  border-top: dashed 3px #9c1112; }

.clear { clear: both; }

table {
  font-size: 80%;
  margin-left:auto; 
  margin-right:auto;
  th {
    width: 200px;
    text-align: left;
    vertical-align: top; }

  td {
    text-align: left; } }

#about { padding-bottom: 25px; }

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
    width: 200px;
    font-size: 50%;
    position:relative;
    padding:15px;
    margin: 1em 0 3em -33em;
    border:5px solid #5a8f00;
    background:#fff;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
    margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color:#5a8f00 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:auto;
    right:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 0 15px 30px;
    border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:auto;
    right:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 0 9px 21px;
    border-color:transparent #fff;
}

/* `Poloroid Effect from http://www.zurb.com/playground/css3-polaroids 
----------------------------------------------------------------------------------------------------*/
.polaroid {
  text-align: center; 
  background: #fff; 
  display: inline; 
  float: left; 
  margin: 0 0 27px 30px; 
  width: auto; 
  padding: 10px 10px 15px; 
  text-align: center; 
  text-decoration: none; 
  color: #333; 
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
  -webkit-transform: rotate(-2deg); 
  -webkit-transition: -webkit-transform .15s linear; 
  -moz-transform: rotate(-2deg);
  img { 
    display: block; 
    width: 400px; 
    margin: 0 auto 12px auto; }
  a {
    font-size: 60%;
    text-align: center; 
    background: #fff; 
    display: inline; 
    float: left; 
    width: auto; 
    text-align: center; 
    text-decoration: none; 
    color: #333; } 
  a:after {
    content: attr(title); } }

.favorites {
  .description {
    width: 60%;
    float:left;
    margin: 15px 0 0 50px; }
  img {
    display: block;
    margin: 0 auto 12px auto;
    width: 200px; }
  li { 
    display: block;
    list-style-type:none; } }

/* Rotate all even images 2 degrees */
ul.favorites li:nth-child(even) .polaroid {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg); }

ul.polaroids { 
  margin: 0;
  li {
    height: 350px; 
    display: inline; 
    float: left; }
  a {
    font-size: 60%;
    text-align: center; 
    background: #fff; 
    display: inline; 
    float: left; 
    margin: 0 0 27px 30px; 
    width: auto; 
    padding: 10px 10px 15px; 
    text-align: center; 
    text-decoration: none; 
    color: #333; 
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
    -webkit-transform: rotate(-2deg); 
    -webkit-transition: -webkit-transform .15s linear; 
    -moz-transform: rotate(-2deg); }
  img { 
    display: block; 
    width: 200px; 
    margin: 0 auto 12px auto; }
  a:after {
  content: attr(title); } }

/* By default, we tilt all our images -2 degrees */
ul.polaroids a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg); }

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
} 

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}
 
/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}
 
/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}

/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
ul.polaroids {
  li {  
    a:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    position: relative;
    z-index: 5; } } }
