@import "http://fonts.googleapis.com/css?family=Architects+Daughter&v1";
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
body {
  margin: 25px;
  padding: 0;
  background-color: #e9dfb8;
  color: #008e51;
  font-size: 2em;
  font-family: 'Architects Daughter', arial, serif;
  line-height: .85em; }

#page_top {
  margin: 0;
  padding: 0;
  background: #e9dfb8 url(/images/paper_header.png); }

#container {
  padding: 5px;
  background: url(/images/paper.png); }

#header {
  text-align: center;
  margin: 0 15px 5px 15px;
  padding: 15px 5px 5px 5px;
  border-bottom: dashed 3px #9c1112; }

#content {
  padding: 28px 10px 10px 10px;
  text-align: center; }

.toolbar a {
  color: #281274; }
.toolbar a:hover {
  color: #008e51; }

#desciption {
  float: right; }

#footer {
  font-size: 60%;
  margin: 5px 15px 5px 15px;
  padding-top: 10px;
  text-align: center;
  font-style: italic;
  border-top: dashed 3px #9c1112; }

.clear {
  clear: both; }

/* `Poloroid Effect from http://www.zurb.com/playground/css3-polaroids 
----------------------------------------------------------------------------------------------------*/
.polaroid {
  text-align: center;
  background: #fff;
  display: inline;
  float: left;
  margin: 0 0 27px 30px;
  width: auto;
  padding: 10px 10px 15px;
  text-align: center;
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(-2deg); }
  .polaroid img {
    display: block;
    width: 400px;
    margin: 0 auto 12px auto; }

ul.polaroids {
  margin: 0; }
  ul.polaroids li {
    display: inline;
    float: left; }
  ul.polaroids a {
    font-size: 60%;
    text-align: center;
    background: #fff;
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: auto;
    padding: 10px 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #333;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    -webkit-transform: rotate(-2deg);
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transform: rotate(-2deg); }
  ul.polaroids img {
    display: block;
    width: 200px;
    margin: 0 auto 12px auto; }
  ul.polaroids a:after {
    content: attr(title); }

/* By default, we tilt all our images -2 degrees */
ul.polaroids a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg); }

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg); }

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px; }

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px; }

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px; }

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px; }

/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25); }

/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
ul.polaroids li a:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  position: relative;
  z-index: 5; }
